* {
    margin: 0;
    padding: 0;
}

#link {
    width: 60%;
    padding-top: 20px;
    margin: 20px auto;
    h2 {
        text-align: center;
        border-bottom: black dashed 2px;
    }
    #link_content {
        width: 90%;
        margin: 15px auto;
        ul {
            li {
                padding-bottom: 10px;
                p {
                    padding-left: 2%;
                    padding-top: 5px;
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
}